<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/home" class="navbar-brand">Recipe Book</a>
      </div>
      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand" routerLink="/recipes">Recipes</a>
          </li>
          <li>
            <a class="navbar-brand" routerLink="/shopping-list"
              >Shopping List</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
