<div class="container">
  <form
    class="recipe-edit"
    [formGroup]="recipeEditForm"
    (ngSubmit)="recipeFormSubmit()"
  >
    <label>Enter a recipe title</label>
    <input
      type="text"
      id="title"
      placeholder="recipe title"
      formControlName="title"
    />
    <span
      *ngIf="
        !recipeEditForm.get('requiredControl').valid &&
        recipeEditForm.get('title').touched
      "
      >Please enter a valid recipe title!</span
    >
    <label>Enter a recipe description</label>
    <input
      type="text"
      id="description"
      placeholder="recipe description"
      formControlName="description"
    />
    <span
      *ngIf="
        !recipeEditForm.get('requiredControl').valid &&
        recipeEditForm.get('description').touched
      "
      >Please enter a valid description!</span
    >
    <label>Enter a recipe image url</label>
    <input
      type="text"
      id="imageUrl"
      placeholder="recipe url"
      formControlName="imageUrl"
    />
    <span
      *ngIf="
        !recipeEditForm.get('requiredControl').valid &&
        recipeEditForm.get('imageUrl').touched
      "
      >Please enter a valid image URL!</span
    >
    <label>Enter a recipe ingredient name</label>
    <input
      type="text"
      id="ingredient.name"
      placeholder="recipe ingredient"
      formControlName="ingredients.name"
    />
    <label>Enter a recipe ingredient amount</label>
    <input
      type="number"
      id="ingredient.amount"
      formControlName="ingredients.amount"
    />
    <button class="btn btn-success">Submit</button>
  </form>
</div>
