<div class="container">
  <form
    class="recipe-edit"
    [formGroup]="recipeEditForm"
    (ngSubmit)="recipeFormSubmit()"
  >
    <label>Title</label>
    <input
      type="text"
      id="title"
      placeholder="recipe title"
      formControlName="title"
    />
    <label>Description</label>
    <textarea
      type="text"
      id="description"
      placeholder="description"
      formControlName="description"
      rows="6"
    ></textarea>

    <label>Image Url</label>
    <input
      type="text"
      id="imageUrl"
      placeholder="recipe url"
      formControlName="imageUrl"
    />
    <label>Ingredients</label>
    <div formArrayName="ingredients">
      <div
        *ngFor="let ingredientControl of getControls(); let i = index"
        [formGroupName]="i"
      >
        <input type="text" formControlName="name" />
        <input type="number" formControlName="amount" />
        <button>X</button>
      </div>

      <button class="btn btn-default" type="button" (click)="onAddIngredient()">
        Add Ingredient
      </button>
    </div>
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!recipeEditForm.valid"
    >
      Submit
    </button>
    <button class="btn btn-danger" type="button" (click)="clearForm()">
      Clear
    </button>
  </form>
</div>
