<div class="container">
  <h2>Recipe Details</h2>
  <div class="card" style="width: 18rem">
    <img
      src="{{ recipe.imageUrl }}"
      class="card-img-top img-responsive"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">{{ recipe.title }}</p>
    </div>
    <h2>Ingredients</h2>
    <ul *ngFor="let ingredient of recipe.ingredients">
      <li>{{ ingredient.name }}: {{ ingredient.amount }}</li>
    </ul>
  </div>
  <div class="btn-group" appDropdown>
    <button type="button" class="btn btn-primary dropdown-toggle">
      Manage Recipe
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Add Ingredients to Shopping List</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div>
</div>
